<!DOCTYPE html>
<html lang="en">

<head>
  {{ if .Site.IsServer }}
  {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" data>
  {{ else }}
  {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | fingerprint | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ end }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{{ .Title }}</title>
</head>

<body>
  {{ block "main" . }}{{ end }}
</body>

</html>
