{{ define "main" }}
{{ partial "header.html" }}
<div class="content w-full sm:w-4/5 lg:w-1/2 mx-auto mt-20 pt-5 pb-10 px-10 shadow">

  {{ if in "[posts, projects]" .Section }}
  <div>
    <span class="font-bold text-grey-dark">
      {{ .Date.Format "January 2, 2006" }}
    </span>
    <span class="text-grey-dark px-10">
      {{ .WordCount }} words
    </span>
  </div>
  <div>
    {{ if .Params.Link }}
    <a href="{{ .Params.Link }}" class="title-link w-3/4 font-sans font-bold text-3xl">
      {{ .Title }}
    </a>
    {{ else }}
    <h class="w-full font-bold text-5xl">{{ .Title }}</h>
    {{ end }}
  </div>
  {{ end }}
  <div class="text-content mt-6">
    {{ .Content }}
  </div>

  {{ if eq .Section "posts" }}
  <div class="mt-16 flex">
    {{ if .PrevInSection }}
    <a class="no-under uppercase font-bold text-black flex-grow" href="{{ .PrevInSection.Permalink }}">
      {{ .PrevInSection.Title }} << </a> {{ end }} {{ if .NextInSection }} <a
        class="no-under uppercase font-bold text-black" href="{{ .NextInSection.Permalink }}">
        >> {{ .NextInSection.Title }}
    </a>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
