/* Base - Variables: tailwind-config.js */
@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0px;
}

.no-underline {
    text-decoration: none;
}

a {
    @apply text-white;
    text-decoration: none;
}

a:hover {
    @apply text-grey;
}

.content {
    @apply text-lg text-black font-sans;
    line-height: 1.3;
}

.content h3 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.content p {
    margin-top: 6px;
    margin-bottom: 6px;
}
