<div class="header flex w-full bg-black py-4 shadow-lg sm:px-12 lg:px-32">
  <div class="font-bold text-white text-xl sm:text-2xl px-2 sm:px-10">
    <a href="/">HOME</a>
  </div>
  <div class="flex-grow font-bold text-white text-xl sm:text-2xl px-2 sm:px-10">
    <a href="/about">ABOUT</a>
  </div>
  <div class="flex-right mx-2">
    <a href="https://github.com/cronokirby">
      <img src="/images/Github32.png" alt="Github Logo">
    </a>
  </div>
  <div class="flex-right w-8 h-8 ml-2 mr-4 sm:mx-10">
    <a href="https://twitter.com/cronokirby">
      <img src="/images/Twitter.png" alt="Twitter Logo">
    </a>
  </div>
</div>