<div class="w-full lg:w-3/4 shadow my-5 p-5 mx-auto">
  <div class="text-left font-bold text-grey-dark mb-2">
    {{ .Date.Format "January 2, 2006" }}
  </div>
  <div class="text-left my-2">
    <a class="title-link w-3/4 text-xl font-bold" href="{{ .Permalink }}">
      {{ .Title  }}
    </a>
  </div>
  <div class="text-left">
    {{ range .Params.Tags }}
      <span class="bg-black shadow py-1 px-2 mr-2 font-bold text-sm text-white">
        <a href="/tags/{{. | urlize}}/" class="tag-link">{{.}}</a>
      </span>
    {{ end}}
  </div>
</div>
