{{ define "main" }}
<div class="header flex w-full py-5 bg-black shadow-lg">
  <div class="font-bold text-white text-2xl px-10">
    <a href="/">Home</a>
  </div>
  <div class="font-bold text-white text-2xl px-10">
    <a href="/about">About</a>
  </div>
</div>
<div class="text-center py-20 bg-grey-lighter">
  {{ $pages := where site.RegularPages "Type" "in" "[posts]"}}
  <div class="w-2/3 mx-auto flex flex-wrap">
    {{ range $pages }}
    {{ partial "post-title-card.html" .}}
    {{ end }}
  </div>
  <div class="h-64">F</div>
  <div class="h-64">F</div>
  <div class="h-64">F</div>
  <div class="h-64">F</div>
  <div class="h-64">F</div>
</div>
{{ end }}